<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ list_object.name }}</h1>
                <a href="{% url 'edit_list' list_object.id %}">Edit</a>
                <h2>Tasks</h2>
            </div>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for item in list_object.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date|date:"F d, Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
