<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My lists</h1>
                <p>
                    <a href="{% url 'create_list' %}">Create a new list</a>
                </p>
            </div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of items</th>
                </thead>
                <tbody>
                    {% for list in todo_lists %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                            </td>
                            <td>{{ list.items.count }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>
